In [1]:
list_instance = list()

In [2]:
list_instance

[]

In [3]:
list_instance.append(18)

In [4]:
print(list_instance)

[18]

In [5]:
list_instance.append("This is the first class of Core Data Structures in Python")

In [6]:
print(list_instance)

[18, 'This is the first class of Core Data Structures in Python']

In [7]:
list_instance.append(18.11)

In [8]:
print(list_instance)

[18, 'This is the first class of Core Data Structures in Python', 18.11]

In [9]:
list_instance.clear()

In [10]:
print(list_instance)

[]

In [11]:
list_instance.append(18.11)

In [12]:
list_instance.append("This is the first class of Core Data Structures in Python")

In [13]:
list_instance.append(18)

In [14]:
print(list_instance)

[18.11, 'This is the first class of Core Data Structures in Python', 18]

In [15]:
y = list_instance.copy()

In [16]:
print(y)

[18.11, 'This is the first class of Core Data Structures in Python', 18]

In [17]:
c = y.count(18)

In [18]:
print(c)

1

In [19]:
y.append(18)

In [20]:
print(y)

[18.11, 'This is the first class of Core Data Structures in Python', 18, 18]

In [21]:
c = y.count(18)

In [22]:
print(c)

2

In [23]:
c = y.count(19)

In [24]:
print(c)

0

In [25]:
y.extend([19,19.12])

In [26]:
print(y)

[18.11, 'This is the first class of Core Data Structures in Python', 18, 18, 19, 19.12]

In [27]:
i = y.index(18)

In [28]:
i

2

In [29]:
print(y)

[18.11, 'This is the first class of Core Data Structures in Python', 18, 18, 19, 19.12]

In [30]:
y.insert(1,19.03)

In [31]:
print(y)

[18.11, 19.03, 'This is the first class of Core Data Structures in Python', 18, 18, 19, 19.12]

In [32]:
popped_item = y.pop()

In [33]:
popped_item

19.12

In [34]:
print(y)

[18.11, 19.03, 'This is the first class of Core Data Structures in Python', 18, 18, 19]

In [35]:
y.remove(18)

In [36]:
print(y)

[18.11, 19.03, 'This is the first class of Core Data Structures in Python', 18, 19]

In [37]:
removed_item = y.remove(18)

In [38]:
print(removed_item)

None

In [39]:
print(y)

[18.11, 19.03, 'This is the first class of Core Data Structures in Python', 19]

In [40]:
y.reverse()

In [41]:
print(y)

[19, 'This is the first class of Core Data Structures in Python', 19.03, 18.11]

In [48]:
z = [67,90,34,12,56,78]

In [49]:
z.sort(reverse=True)

In [50]:
print(z)

[90, 78, 67, 56, 34, 12]

In [52]:
print(y)

[19, 'This is the first class of Core Data Structures in Python', 19.03, 18.11]

In [54]:
popped_item = y.pop(1)

In [55]:
print(y)

[19, 19.03, 18.11]

In [56]:
print(popped_item)

This is the first class of Core Data Structures in Python

In [57]:
print(y)

[19, 19.03, 18.11]

In [59]:
y.remove(18)

ValueError: list.remove(x): x not in list

In [66]:
l = [54,18,98,56,74,32]

In [67]:
copied_list = l.copy()

In [68]:
copied_list

[54, 18, 98, 56, 74, 32]

In [69]:
l.sort()

In [70]:
print(l)

[18, 32, 54, 56, 74, 98]

In [71]:
print(copied_list)

[54, 18, 98, 56, 74, 32]

In [72]:
name_age_list = dict()

In [73]:
print(name_age_list)

{}

In [74]:
name_age_list["Jaskirat"] = 34

In [75]:
print(name_age_list)

{'Jaskirat': 34}

In [76]:
name_age_list["Karan"] = 23

In [77]:
print(name_age_list)

{'Jaskirat': 34, 'Karan': 23}

In [79]:
name_age_list[0] = "Aryabhatta"

In [80]:
print(name_age_list)

{'Jaskirat': 34, 'Karan': 23, 0: 'Aryabhatta'}

In [81]:
name_age_list[0]

'Aryabhatta'

In [82]:
name_age_list['Karan'] = 46

In [83]:
print(name_age_list)

{'Jaskirat': 34, 'Karan': 46, 0: 'Aryabhatta'}

In [84]:
blank_dict = dict()

In [85]:
blank_dict = {}

In [87]:
blank_dict.fromkeys(['Jaskirat','Karan','Dhruv'],0)

{'Jaskirat': 0, 'Karan': 0, 'Dhruv': 0}

In [94]:
person_age = name_age_list.get('Rahul',100)

In [95]:
print(person_age)

100

In [97]:
key_val_pairs = name_age_list.items()

In [101]:
key_val_pairs = list(key_val_pairs)

In [103]:
key_val_pairs[0]

('Jaskirat', 34)

In [104]:
dictionary_keys = name_age_list.keys()

In [105]:
dictionary_keys

dict_keys(['Jaskirat', 'Karan', 0])

In [106]:
dictionary_keys = list(dictionary_keys)

In [107]:
dictionary_keys

['Jaskirat', 'Karan', 0]

In [109]:
val = name_age_list.pop("Jaskirat")

In [110]:
print(val)

34

In [111]:
name_age_list

{'Karan': 46, 0: 'Aryabhatta'}

In [113]:
val = name_age_list.pop("Rahul",100)

In [114]:
print(val)

100

In [115]:
val = name_age_list.pop("Karan",100)

In [116]:
print(val)

46

In [119]:
val = name_age_list.pop(1,100)

In [120]:
print(val)

100

In [121]:
name_age_list.popitem()

(0, 'Aryabhatta')

In [122]:
name_age_list

{}

In [123]:
name_age_list["Jaskirat"] = 34

In [124]:
name_age_list["Dhruv"] = 47

In [125]:
name_age_list

{'Jaskirat': 34, 'Dhruv': 47}

In [126]:
name_age_list.setdefault("Jaskirat")

34

In [127]:
name_age_list.setdefault("Rahul")

In [128]:
name_age_list

{'Jaskirat': 34, 'Dhruv': 47, 'Rahul': None}

In [129]:
name_age_list.setdefault("Akash",67)

67

In [130]:
name_age_list

{'Jaskirat': 34, 'Dhruv': 47, 'Rahul': None, 'Akash': 67}

In [132]:
list(name_age_list.values())

[34, 47, None, 67]